@{
    ViewData["Title"] = "Create";
}

<div>
    <label> Single File Upload</label>
    <form method="post" action="@Url.Action("Create","Home")" enctype="multipart/form-data">
        @Html.ValidationSummary()
        <input type="file" name="formFile"  id="formFile" />
        <button type="submit" class="btn btn-primary">Submits</button>
    </form>

    <label> Multiple File Upload</label>
    <form method="post" action="@Url.Action("CreateMultiple","Home")" enctype="multipart/form-data">
        @Html.ValidationSummary()
        <input type="file" name="formFile" multiple id="formFile" />
        <button type="submit" class="btn btn-primary">Submits</button>
    </form>
</div>

